@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  text-align: center;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
}

.navbar {
  background-color: cornflowerblue;
  width: 100vw;
  height: fit-content;
  text-align: left;
  box-shadow: rgba(0,0,0,0.4) 0 0 20px;
}

h1 {
  color: white;
  padding: 15px;
  font-weight: 300;
  text-align: center;
}

.box {
  height: 75vh;
  width: 45vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 14px;
  background: linear-gradient(135deg, rgba(0,0,0,0.075), rgba(255,255,255,0.25));
  /* background: linear-gradient(145deg, #ffffff, #e6e6e6); */
  box-shadow:  8px 8px 16px #d9d9d9,
               -8px -8px 16px #ffffff;
}

.main-container {
  margin-top: 8vh;
  width: 100vw;
  flex-direction: row;
  display: flex;
}

.box-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#totalCases {
  font-weight: 900;
  font-size: 3.4em;
  color: coral;
}

#deaths {
  font-weight: 900;
  font-size: 3.4em;
  color: coral;
}

#percentage {
  font-weight: 900;
  font-size: 3.4em;
  color: coral;
}

.credits {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.credits a {
  color: black;
}

.info {
  color: white;
  position: absolute;
  left: 3vw;
  top: 0.5em;
  padding: 12px;
  margin: 0px;
  font-size: 20px;
  border-radius: 14px;
  background: linear-gradient(145deg, #6b9ffe, #5a86d5);
  box-shadow:  5px 5px 11px #557fc9,
             -5px -5px 11px #73abff;
}

.slide-out{
  background-color: coral;
  color: white;
  position: absolute;
  width: 30vw;
  top: 0;
  left: -30vw;
  height: 100vh;
  z-index: 1;
  box-shadow: rgba(0,0,0,0.5) 0 0 15px;
  transition: left 0.4s ease-in;
}

h2 {
  padding-top: 20vh;
}

.slide-out p {
  padding-left: 20%;
  padding-right: 20%;
}

.slidden {
  left: 0;
  transition: left 0.78s ease-in-out;
}


.slide-out a {
  padding: 15px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: linear-gradient(145deg, #ff8856, #e67248);
  box-shadow: 6px 6px 12px #db6d45, -6px -6px 12px #ff915b;
  width: fit-content;
}

.slide-out a:hover {
  background: #ff7f50;
  box-shadow: inset 6px 6px 12px #db6d45,
            inset -6px -6px 12px #ff915b;
}

.info:hover {
  background: #6495ed;
  box-shadow: inset 15px 15px 30px #557fc9,
            inset -15px -15px 30px #73abff;
}

@media screen and (max-width: 700px) {
  .main-container {
     flex-direction: column;
  }

  .box {
    width: 90vw;
  }

  .slide-out {
    width: 75vw;
    left: -75vw;
  }
}
