@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  text-align: center;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
}

.navbar {
  background-color: cornflowerblue;
  width: 100vw;
  height: fit-content;
  text-align: left;
  box-shadow: rgba(0,0,0,0.4) 0 0 20px;
}

h1 {
  color: white;
  padding: 15px;
  font-weight: 300;
  text-align: center;
}

.box {
  height: 75vh;
  width: 45vw;
  box-shadow: rgba(0,0,0,0.3) 0 0 25px;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  22px 22px 44px #cccccc,
             -22px -22px 44px #ffffff;
}

.main-container {
  margin-top: 8vh;
  width: 100vw;
  flex-direction: row;
  display: flex;
}

.box-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#totalCases {
  font-weight: 900;
  font-size: 3.4em;
  color: coral;
}

#deaths {
  font-weight: 900;
  font-size: 3.4em;
  color: coral;
}

#percentage {
  font-weight: 900;
  font-size: 3.4em;
  color: coral;
}

.credits {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.credits a {
  color: black;
}

.info {
  color: white;
  position: absolute;
  left: 3vw;
  top: 1.4em;
}

.slide-out{
  background-color: coral;
  color: white;
  position: absolute;
  width: 30vw;
  top: 0;
  left: -30vw;
  height: 100vh;
  z-index: 1;
  box-shadow: rgba(0,0,0,0.5) 0 0 15px;
  transition: left 1s;
}

h2 {
  padding-top: 20vh;
}

.slide-out p {
  padding-left: 20%;
  padding-right: 20%;
}

.slidden {
  left: 0;
  transition: left 0.8s;
}

.slide-out a {
  color: white;
  height: 30px;
}
